body {
    font-family: 'Honk', system-ui;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
    font-family: 'Chakra Petch', sans-serif;
}

span {
    font-family: 'Honk', system-ui;
    font-size: 35px;
}

#table-container{
    margin-bottom: 10px;
}

#showTableButt {
    font-size: 50px;
    margin-bottom: 10px;
    border: solid orangered 5px;
}
button {
    font-family: 'Honk', system-ui;
    font-size: 25px;
    min-width: 150px;
    transition-duration: 0.5s;
    background-color: white;
    border: solid orangered 4px;
    border-radius: 15px;
}

button:hover {
    background-color: orangered;
    -webkit-text-fill-color: white;
}

input {
    flex: auto;
    max-width: 300px;
    border: solid orangered 4px;
    border-radius: 15px;
    font-family: 'Chakra Petch', sans-serif;
    padding-right: 5px;
}

input:focus {
    background-color: #ffff80;
    outline: none;
}

#screen {
    /* background-color: whitesmoke; */
    background-image: url('bg.jpg');
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    margin: 25px;
    background-color: whitesmoke;
    width: 95%;
    border: solid orangered 6px;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}

form {
    margin-left: 85px;
    margin-right: 85px;
    display: flex;
    justify-content: space-evenly;

}

.table-container {
    margin: 0 auto;
    max-width: 600px;
}

#studentsTable {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
    border: solid orangered 4px;
    border-radius: 5px;
    width: 85%;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
}

th,
td {
    text-align: center;
    font-size: 25px;
    width: 33.33%;
}

.hidden {
    display: none;
    /* Initially hide the table */
}
